/* External Styles */
body {
    margin: 0;
    overflow: hidden;
    background-color: #303136;
}

canvas {
    display: block;
    background: url('https://imagetolink.com/ib/f0126QUExl.png');
    background-size: cover;
}

.draggable {
    position: absolute;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.6);
    outline: solid 2px white;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif; 
    color: #ffffff; 
}

#centerCircle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.6);
    outline: solid 2px black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif; 
    color: #ffffff; 
}

